
<style>
        .banner{
            background-color: #1291aa;
            color: #f8f9fa;
            padding: 1.6em;
            width:100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column wrap; 
            margin:0;
            height: fit-content;
            position: relative;
            margin-bottom:15px;

            .underline { 
                height: 5px;
                width:400px;
                background-color: #ea9e04;
            }

            .logo1, .logo2{
                flex:1;
                margin:0;
            }
            .logo1 {
                font-size: 2.3em;
                margin-top:5px;
                margin-left:10px;
                margin-bottom:10px;
            }
            .logo2 {
                font-size: 1.8em;
            }
            .farmacias{
                letter-spacing: 0.35em;
            }
        }
        .boton {
            padding:10px;
            border: 0px solid #252525;
            border-radius:1em;
            background-color: #ea9e04;
            color: #fff;
        }
        .boton:hover{
            background-color: #ffc041;
            color: #252525; 
        }
        .flotanteIzq{
            position: absolute;
            top: 50px;
            left: 100px;
        }
        .flotanteDer{
            border-radius:1em;
            padding:10px;
            position: absolute;
            top: 50px;
            right: 100px;
        }
</style>
<div class="banner">
    <% if (showBackButton) { %>
        <button onclick="window.history.back()" class="boton flotanteIzq">Volver</button>
    <% } %>
    <% if (loggedIn) { %>
        <a href="./logout" class="btn btn-danger flotanteDer">Cerrar sesión</a>
    <% } %>
         
    <div class="underline"></div>
    <h1 class="logo1 farmacias">FARMACIAS</h1>  
    <h1 class="logo2">SANCHEZ ANTONIOLLI</h1>
</div>